---
http_interactions:
- request:
    method: get
    uri: https://api.skypicker.com/flights?apikey&curr=USD&date_from=30/01/2021&date_to=30/01/2021&flight_type=round&fly_from=DEN&limit=20&nights_in_dst_from=5&nights_in_dst_to=5&one_for_city=1&partner=picky&partner_market=us&ret_from_diff_airport=0&sort=price
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"search_id":"8dd6c0b0-75a4-4e8e-bbfc-87b9a1847707","data":[{"id":"0713244648e100007b61b321_0|2446071348e60000bac08674_0","dTime":1612047300,"dTimeUTC":1612072500,"aTime":1612051080,"aTimeUTC":1612079880,"nightsInDest":5,"duration":{"departure":7380,"return":7020,"total":14400},"fly_duration":"2h
        3m","flyFrom":"DEN","cityFrom":"Denver","cityCodeFrom":"DEN","countryFrom":{"code":"US","name":"United
        States"},"mapIdfrom":"denver_co_us","flyTo":"LAS","cityTo":"Las Vegas","cityCodeTo":"LAS","countryTo":{"code":"US","name":"United
        States"},"mapIdto":"las-vegas_nv_us","distance":1010.49,"routes":[["DEN","LAS"],["LAS","DEN"]],"airlines":["F9"],"pnr_count":2,"has_airport_change":false,"technical_stops":0,"price":48,"bags_price":{"1":71.66,"2":155.95},"baglimit":{"hand_width":25,"hand_height":40,"hand_length":60,"hand_weight":15,"hold_width":28,"hold_height":52,"hold_length":78,"hold_dimensions_sum":158,"hold_weight":22},"availability":{"seats":7},"facilitated_booking_available":true,"conversion":{"USD":48,"EUR":39},"quality":94.99986000000001,"booking_token":"BQBLjFvNFyk12PFvOMv-MnAN-hpyD2zHjdc5Fno5Ub_9tAUqI2NYeBXosPUFm8vm4ZjGntdUZ-FKAUvkK1Ws1VAmhUPAJ5BIOTBI0ASc05ua0WBrnvVw4jUROkdJW0a23Zxu9E0-ujmsjUwbqMYgMqelaXra-nXjiioENVbzABnuEeucWyr4uqCGEwqQijM9b6CRVPDkDfqne0oiEEQTNmDreBz2rKIhhOT4hrTuvkuZPYzW2pn6iRIH8bbzoIRA1Up6JRgbvBvsaLy4wJ75Nuy_RSwxq7y9DJkKAqaJtLX151vHUlew5EC_pm-0IPI4dqz-l9qyK58V5VKK-CzCB0XH9Y2WjDIs7l-J7u65SdDCdKuDQmt6-dhJEmPtIFHb1ltVRR-nw-pyVw3p6Z1PArZIH6QkRcA5IAjcx4RLrieCPdd9ONpUHDDQHAWD71Em8Z2WF5b4NNXW_OOn7FpLsfVR0jYFLJGZ0h3V7xTXaCvxs3qyVJCvjgLadLR2D4sW0BWBH0DMKd7mCl-rOGH-38jnW_LaE5zi5jI_x066OpbcW3ie87rWxkFdfq7l2ChKuSpY_8hSRSI_fXLX07Quvy_uC2v-3LI2L_iw_Qy0oxvTIGoaYI-1_ja5fBmS-aXkVUsPff5mmOkIUgl0-zXKDsdJ0B7fygtXpOn-UeEjVHG4=","deep_link":"https:\/\/www.kiwi.com\/deep?from=DEN&to=LAS&flightsId=0713244648e100007b61b321_0%7C2446071348e60000bac08674_0&price=39&passengers=1&affilid=picky&lang=en&currency=USD&booking_token=BQBLjFvNFyk12PFvOMv-MnAN-hpyD2zHjdc5Fno5Ub_9tAUqI2NYeBXosPUFm8vm4ZjGntdUZ-FKAUvkK1Ws1VAmhUPAJ5BIOTBI0ASc05ua0WBrnvVw4jUROkdJW0a23Zxu9E0-ujmsjUwbqMYgMqelaXra-nXjiioENVbzABnuEeucWyr4uqCGEwqQijM9b6CRVPDkDfqne0oiEEQTNmDreBz2rKIhhOT4hrTuvkuZPYzW2pn6iRIH8bbzoIRA1Up6JRgbvBvsaLy4wJ75Nuy_RSwxq7y9DJkKAqaJtLX151vHUlew5EC_pm-0IPI4dqz-l9qyK58V5VKK-CzCB0XH9Y2WjDIs7l-J7u65SdDCdKuDQmt6-dhJEmPtIFHb1ltVRR-nw-pyVw3p6Z1PArZIH6QkRcA5IAjcx4RLrieCPdd9ONpUHDDQHAWD71Em8Z2WF5b4NNXW_OOn7FpLsfVR0jYFLJGZ0h3V7xTXaCvxs3qyVJCvjgLadLR2D4sW0BWBH0DMKd7mCl-rOGH-38jnW_LaE5zi5jI_x066OpbcW3ie87rWxkFdfq7l2ChKuSpY_8hSRSI_fXLX07Quvy_uC2v-3LI2L_iw_Qy0oxvTIGoaYI-1_ja5fBmS-aXkVUsPff5mmOkIUgl0-zXKDsdJ0B7fygtXpOn-UeEjVHG4=","tracking_pixel":null,"p1":1,"p2":1,"p3":1,"transfers":[],"type_flights":["deprecated"],"return_duration":"1h
        57m","hidden_city_ticketing":false,"virtual_interlining":true,"route":[{"fare_basis":"K14WXS2","fare_category":"M","fare_classes":"K","price":1,"fare_family":"","found_on":"deprecated","last_seen":1609986722,"refresh_timestamp":1609986722,"source":"deprecated","return":0,"bags_recheck_required":false,"guarantee":false,"id":"0713244648e100007b61b321_0","combination_id":"0713244648e100007b61b321","original_return":0,"aTime":1612051080,"dTime":1612047300,"aTimeUTC":1612079880,"dTimeUTC":1612072500,"mapIdfrom":"denver_co_us","mapIdto":"las-vegas_nv_us","cityTo":"Las
        Vegas","cityFrom":"Denver","cityCodeFrom":"DEN","cityCodeTo":"LAS","flyTo":"LAS","flyFrom":"DEN","airline":"F9","operating_carrier":"F9","equipment":null,"latFrom":39.8616667,"lngFrom":-104.67306,"latTo":36.08,"lngTo":-115.15222,"flight_no":775,"vehicle_type":"aircraft","operating_flight_no":"775"},{"fare_basis":"K14WXS2","fare_category":"M","fare_classes":"K","price":1,"fare_family":"","found_on":"deprecated","last_seen":1609980011,"refresh_timestamp":1609980011,"source":"deprecated","return":1,"bags_recheck_required":false,"guarantee":false,"id":"2446071348e60000bac08674_0","combination_id":"2446071348e60000bac08674","original_return":0,"aTime":1612430820,"dTime":1612420200,"aTimeUTC":1612456020,"dTimeUTC":1612449000,"mapIdfrom":"las-vegas_nv_us","mapIdto":"denver_co_us","cityTo":[...]
[...]
