---
http_interactions:
- request:
    method: get
    uri: https://api.skypicker.com/flights?apikey&curr=USD&date_from=30/01/2021&date_to=30/01/2021&flight_type=round&fly_from=DEN&limit=20&nights_in_dst_from=5&nights_in_dst_to=5&one_for_city=1&partner=picky&partner_market=us&ret_from_diff_airport=0&sort=price
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"search_id":"f2adfcaf-3171-42a6-a691-96fbe9ed7400","data":[{"id":"0713244648e100007b61b321_0|2446071348e60000bac08674_0","dTime":1612047300,"dTimeUTC":1612072500,"aTime":1612051080,"aTimeUTC":1612079880,"nightsInDest":5,"duration":{"departure":7380,"return":7020,"total":14400},"fly_duration":"2h
        3m","flyFrom":"DEN","cityFrom":"Denver","cityCodeFrom":"DEN","countryFrom":{"code":"US","name":"United
        States"},"mapIdfrom":"denver_co_us","flyTo":"LAS","cityTo":"Las Vegas","cityCodeTo":"LAS","countryTo":{"code":"US","name":"United
        States"},"mapIdto":"las-vegas_nv_us","distance":1010.49,"routes":[["DEN","LAS"],["LAS","DEN"]],"airlines":["F9"],"pnr_count":2,"has_airport_change":false,"technical_stops":0,"price":48,"bags_price":{"1":71.66,"2":155.95},"baglimit":{"hand_width":25,"hand_height":40,"hand_length":60,"hand_weight":15,"hold_width":28,"hold_height":52,"hold_length":78,"hold_dimensions_sum":158,"hold_weight":22},"availability":{"seats":7},"facilitated_booking_available":true,"conversion":{"USD":48,"EUR":39},"quality":94.99986000000001,"booking_token":"BMSO7lE1BHu73PkfvEninTgJy06HN5_MJw4GbdZVSCycO2fQubP9LYRkFAgQCCKX8bQU5PmqzTBCMLJYmIt-P6Y7qt1quGZwwYlOX2IutOsLz2VhPxkx9eVc0CT3CYPbW6VeNYu9NHJfrPrwBP2dxFNqZCcJkyfnk8nP3xwTJS7JfidlO5QrKtNyFKUvydO6BP45GSgRDq1d161XR1vqiygy5amH_1bLEAvqL7hQI1RVtKaIdJridNl0lgezG6K9afJwU37H_4mvRHMYCSGzMNRMDNoOSnuMte0TLk4iATL5ZaWfdMUfC64WV5j3Nj-BZWibl0IqDBjEY8X3w7DXMNIVjtheMC_Xf2xFHFOdl-0PN0KSAt84fX8rwwyNzRdNc__Eqe1OH5k6uQ1aWxl7JlCr8EiD-AEvJpHsfAZgyD6CDXpl7aOnUn1ojlSZYpSSmgZqbwTK3u-CMddpg6AAnD7Bauty9frMWx1QKWCvthhllenpSXHFUXfUmqikG5Xfashr_m3f07jbnw7JyilOU2doQaABsE6l9g3RPgoLyF3OKDo1nsZqTRosk1nLlRI_ddEHVv5xc77_1lC6U7C7GBIjWNWNKHlIuZg3qWCRAEF5CZADQbr4wmoFyFRrth9Cz-HoKJ79pLWo6nLURXjhn9h3N1dm6aWS-TbmzTFTpQg0=","deep_link":"https:\/\/www.kiwi.com\/deep?from=DEN&to=LAS&flightsId=0713244648e100007b61b321_0%7C2446071348e60000bac08674_0&price=39&passengers=1&affilid=picky&lang=en&currency=USD&booking_token=BMSO7lE1BHu73PkfvEninTgJy06HN5_MJw4GbdZVSCycO2fQubP9LYRkFAgQCCKX8bQU5PmqzTBCMLJYmIt-P6Y7qt1quGZwwYlOX2IutOsLz2VhPxkx9eVc0CT3CYPbW6VeNYu9NHJfrPrwBP2dxFNqZCcJkyfnk8nP3xwTJS7JfidlO5QrKtNyFKUvydO6BP45GSgRDq1d161XR1vqiygy5amH_1bLEAvqL7hQI1RVtKaIdJridNl0lgezG6K9afJwU37H_4mvRHMYCSGzMNRMDNoOSnuMte0TLk4iATL5ZaWfdMUfC64WV5j3Nj-BZWibl0IqDBjEY8X3w7DXMNIVjtheMC_Xf2xFHFOdl-0PN0KSAt84fX8rwwyNzRdNc__Eqe1OH5k6uQ1aWxl7JlCr8EiD-AEvJpHsfAZgyD6CDXpl7aOnUn1ojlSZYpSSmgZqbwTK3u-CMddpg6AAnD7Bauty9frMWx1QKWCvthhllenpSXHFUXfUmqikG5Xfashr_m3f07jbnw7JyilOU2doQaABsE6l9g3RPgoLyF3OKDo1nsZqTRosk1nLlRI_ddEHVv5xc77_1lC6U7C7GBIjWNWNKHlIuZg3qWCRAEF5CZADQbr4wmoFyFRrth9Cz-HoKJ79pLWo6nLURXjhn9h3N1dm6aWS-TbmzTFTpQg0=","tracking_pixel":null,"p1":1,"p2":1,"p3":1,"transfers":[],"type_flights":["deprecated"],"return_duration":"1h
        57m","hidden_city_ticketing":false,"virtual_interlining":true,"route":[{"fare_basis":"K14WXS2","fare_category":"M","fare_classes":"K","price":1,"fare_family":"","found_on":"deprecated","last_seen":1609986722,"refresh_timestamp":1609986722,"source":"deprecated","return":0,"bags_recheck_required":false,"guarantee":false,"id":"0713244648e100007b61b321_0","combination_id":"0713244648e100007b61b321","original_return":0,"aTime":1612051080,"dTime":1612047300,"aTimeUTC":1612079880,"dTimeUTC":1612072500,"mapIdfrom":"denver_co_us","mapIdto":"las-vegas_nv_us","cityTo":"Las
        Vegas","cityFrom":"Denver","cityCodeFrom":"DEN","cityCodeTo":"LAS","flyTo":"LAS","flyFrom":"DEN","airline":"F9","operating_carrier":"","equipment":null,"latFrom":39.8616667,"lngFrom":-104.67306,"latTo":36.08,"lngTo":-115.15222,"flight_no":775,"vehicle_type":"aircraft","operating_flight_no":""},{"fare_basis":"K14WXS2","fare_category":"M","fare_classes":"K","price":1,"fare_family":"","found_on":"deprecated","last_seen":1609996976,"refresh_timestamp":1609996976,"source":"deprecated","return":1,"bags_recheck_required":false,"guarantee":false,"id":"2446071348e60000bac08674_0","combination_id":"2446071348e60000bac08674","original_return":0,"aTime":1612430820,"dTime":1612420200,"aTimeUTC":1612456020,"dTimeUTC":1612449000,"mapIdfrom":"las-vegas_nv_us","mapIdto":"denver_co_us","cityTo":"De[...]
